#fullScreenMenu {
    background-color: red;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 25vw;
    top: 25vh;
}

.invisible {
    visibility: hidden;
}

#bottomMenu {
    width: 40vw;
    height: 7.5vh;
    background-color: red;
    position: absolute;
    left: 30vw;
    bottom: 0vh;
    display: flex;
    flex-direction: row;
}

.inventoryItem {
    width: 20%;
    height: 100%;
    background-color: blue;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
}

.inventoryItemImage {
    width: 100%;
    height: 100%;
}

.inventoryItemHighlight {
    border-color: red;
}